rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isValidId(id) {
      return id is string && id.size() <= 128;
    }

    // Clients Collection
    match /clients/{clientId} {
      allow read, write: if isValidId(clientId);
    }

    // Documents Collection
    match /documents/{documentId} {
      allow read, write: if isValidId(documentId);
    }

    // Access Requests Collection
    match /access_requests/{requestId} {
      allow read, write: if isValidId(requestId);
    }

    // Settings Collection
    match /settings/{settingId} {
      allow read, write: if isValidId(settingId);
    }
  }
}
